body{
    all: unset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#CCD6F5;
}

.content{
display: flex;
flex-direction: column;
background-color:#0A192F;
padding: 30px;
align-items: center;
gap: 15px;
border-radius: 5px;
color:#CCD6F5 ;
font-size: 14px;
}

.content input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-bottom: 1px solid white ;
    text-align: center;
}

.content input::placeholder{
    color:#CCD6F5 ; 
    text-align: center;
}

.content button{
    margin-top: 5px;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #9D02D9;
    color:black ;
    cursor: pointer;
}
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

@media only screen and (max-width: 768px) {
   .content{
    padding: 50px 30px 50px 30px ;
    font-size: px;
       }
   }
   